.jp-TopBar {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 10px;
}

.jp-TopBarItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}