.jp-TopBar {
  display: flex;
  flex-grow: 1 !important;
}

.jp-TopBar > .jp-TopBar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: calc(var(--jp-border-width) * 2) solid var(--jp-border-color0);
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.jp-Toolbar.jp-TopBar {
  box-shadow: unset;
}

.jp-TopBar-DragItem {
  z-index: 2;
  border: calc(var(--jp-border-width) * 2) solid var(--jp-layout-color1);
  color: var(--jp-content-font-color1);
  background: var(--jp-layout-color1);
}

.jp-TopBar-DropTarget {
  background-color: var(--md-blue-400);
  color: var(--jp-content-font-color1);
  opacity: 0.5;
  cursor: move;
}

.jp-TopBar-DropTarget:hover {
  background-color: var(--md-blue-400) !important;
  cursor: move !important;
}
