.jp-TopBar {
    display: flex;
    flex-grow: 1;
    padding-right: 10px;
    background-color: rgb(255, 0, 0);
}

.jp-TopBarItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}