.jp-TopBar {
    display: flex;
    flex-grow: 1 !important;
}

.jp-TopBar > .jp-TopBar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: var(--jp-border-width) solid var(--jp-border-color0);
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.jp-TopBar > .jp-Toolbar-spacer {
    border: none;
}

.jp-Toolbar.jp-TopBar {
    box-shadow: unset;
}